*{
    align-items: center;
}

.form{
    position: relative;
    margin-left:44%;
    margin-top: 4%;
}

.titulo{
    position: relative;
    margin-left:44%;
    margin-top: 10%;
}

@keyframes pulando {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.btn1 {
    position: relative;
    margin-left: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    padding: 10px 25px;
    background-color: #0004ee;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-family: cursive;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: pulando 1s infinite;  /* Adiciona a animação de pulo */
}

.btn1:hover {
    background-color: #363af8;
}

.btn1:active {
    background-color: #7d7ff8;
    transform: translateY(2px);
}

.btn1:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn2 {
    position: relative;
    margin-left: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    padding: 10px 25px;
    background-color: #0004ee;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: cursive;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn2:hover {
    background-color: #363af8;  /* Cor de fundo ao passar o mouse */
}

.btn2:active {
    background-color: #7d7ff8;;  /* Cor de fundo ao clicar */
    transform: translateY(2px);  /* Efeito de pressionar */
}

.btn2:focus {
    outline: none;  /* Remove a borda de foco padrão */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  /* Sombra ao focar */
}

.btn3 {
    position: relative;
    margin-left: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    padding: 10px 25px;
    background-color: #0004ee;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: cursive;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn3:hover {
    background-color: #363af8;  /* Cor de fundo ao passar o mouse */
}

.btn3:active {
    background-color: #7d7ff8;;  /* Cor de fundo ao clicar */
    transform: translateY(2px);  /* Efeito de pressionar */
}

.btn3:focus {
    outline: none;  /* Remove a borda de foco padrão */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  /* Sombra ao focar */
}

