<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
        </style>
    <title>Jogo</title>
</head>
<body>
    <h3 class="titulo">TETR S</h3>
    <div class="form">  
        <button class="btn1", onclick="startGame()">jogar</button><br>
        <!--<button class="btn2">Personalize</button><br>-->
        <!--<button class="btn3">Nivel</button>-->
        
    </div>
</body>
</html>