<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
    <title>Jogo</title>
</head>
<body>
    <h3 class="titulo">Aqui vai ser o titulo</h3>
    <div class="form">  
        <button class="btn1", onclick="startGame()">jogar</button><br>
        <button class="btn2">Personalize</button><br>
        <button class="btn3">Nivel</button>
        
    </div>
</body>
</html>